GOOGLE_CLOUD_PROJECT=your-gcp-project
GOOGLE_CLOUD_REGION=us-central1
ARTIFACT_REGISTRY_REPO=yout-arr-repo
ARTIFACT_REGISTRY_IMAGE_NAME=arc-app
HUGGING_FACE_TOKEN=your-token
TOKENIZER_MAX_LENGTH=2048
LR=5e-5
NUM_EPOCHS=3
BATCH_SIZE=8
GRAD_ACC_STEPS=1
GRAD_CHPT=False
USE_LORA=True
LR=5e-5
NUM_EPOCHS=.1
LORA_TARGET_MODULES=q_proj,k_proj,v_proj,o_proj
LORA_R=16
LORA_ALPHA=24
LORA_DROPOUT=0.1
USE_RSLORA=True